@import "tailwindcss";

@theme {
  --color-nith-primary: #003366;
  --color-nith-primary-light: #00509e;
  --color-nith-secondary: #f0f4f8;
  --color-nith-accent: #ff9900;
}

@layer base {
  body {
    background-color: var(--color-nith-secondary);
    color: #333333;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
}